<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">LeirskolePortalen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/leir/liste}">Leirer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/deltaker/liste}">Deltakere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/innkvartering}">Innkvartering</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/brukere}">Adminpanel</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item me-2">
                    <span class="navbar-text text-white" th:text="${#authentication.name}">Innlogget bruker</span>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-light btn-sm">Logg ut</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
